*{
    font-family: Roboto, Helvetica, Arial, Verdana, sans-serif;
}
.margintop {
    margin-top:15px;
}
.highlight {
    color:#e38d13;
}
.panel-default{
    border-color: #00bca2;
}
.panel-default > .panel-heading {
    background-color: #00bca2;
}
.panel-title{
    color: #FFF;
    font: normal  18px / 20px "Roboto", Helvetica, Arial, Verdana, sans-serif;    
}
.input-group-addon {
    color: #FFF;
    background-color: #00bca2;
    border-color: #00bca2;    
}
#send {
  color: #FFF;
  background-color: #00bca2;
  border-color: transparent;
}
